-@ val properName: String 
-@ val lowerName: String 
-@ val fieldList: List[FieldDefinition]
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:lift="http://liftweb.net/")
  head
    meta(http-equiv="content-type" content="text/xml; charset=UTF-8")
    title #{properName}s - Index
  body(class="lift:content_id=main")
    div#main(class="lift:surround?with=default;at=content")
      h2 #{properName}s
      p
        table(class="lift:#{lowerName}s.all")
          tr
            - for(typeDec <- fieldList)
              th #{typeDec.properName}
            th
            th
            th
          tr(class="#{lowerName}")
            - for(typeDec <- fieldList)
              td(class="#{typeDec.lowerName}") #{typeDec.properName}
            td
              a(class="show#{properName}" href="/#{lowerName}s/show") Show
            td
              a(class="edit#{properName}" href="/#{lowerName}s/edit") Edit
            td
              a(class="delete#{properName}" href="#" onclick="if(!confirm('Are you sure?')) return false;") Delete
        p
          a(href="/#{lowerName}s/new") New #{properName}  