-@ val properName: String 
-@ val lowerName: String 
-@ val typeList: List[DataType]
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:lift="http://liftweb.net/")
  head
    meta(http-equiv="content-type" content="text/xml; charset=UTF-8")
    title #{properName}s - Show
  body(class="lift:content_id=main")
    div#main(class="lift:surround?with=default;at=content")
      h2 Posts
      p
        table(class="lift:#{lowerName}s.show")
          tbody(class="#{lowerName}")
            - for(typeDec <- typeList)
              tr
                th #{typeDec.properName}
                td(class="#{typeDec.lowerName}") #{typeDec.properName}
